version: '3.8'

services:
  nginx:
    image: acr-nginx
    container_name: container-acr-nginx
    ports:
      - "80:80"
    depends_on:
      - backend
      - auth
    networks:
      - app_network
  
  auth:
    image: acr-auth
    container_name: container-acr-auth
    ports:
      - "8081:8081"
    networks:
      - app_network

  backend:
    image: acr-backend-service
    container_name: container-acr-backend-service
    ports:
      - "8080:8080"
    networks:
      - app_network
    depends_on:
      - db

  runner:
    build: ./Dockerfile_runner
    container_name: container-acr-runner
    depends_on:
      - db

  db:
    image: postgres:latest
    container_name: container-acr-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: DashboardGestaoAPI
    ports:
      - "5432:5432"
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
